/*Footer section*/
.App-footer{
  padding: 3%;
}
.App-Links-container{
  @extend %flex-row;
  justify-content: center;
  width: 100%;
}
.App-Links-link{
  @extend %flex-column;
  justify-content: center;
  margin: 0 1%;
}
.App-Links-image{
  width: 50px;
  height: auto;
}