/*Project List section*/
.App-project-list-container{
  margin: 3%;
}
.App-project-list-title{
  display: flex;
}
.App-project-list-title:hover{
  cursor: pointer;
}
.App-project-list{
  @extend %flex-column;
  margin-left: 2%;
}

@media screen and (max-width: 900px) {
  .App-project-list {
    @extend %flex-column;
    margin-left: 0;
  }
}

@media screen and (max-width: 600px) {
  .App-project-list-container {
    margin: 30% 0 0 0;
  }
  .App-project-list-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}